################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.pio
pio
.vscode
.pioenvs
.cache
build_output
firmware.map
firmware.asm.DS_Store
binaries/.DS_Store
.DS_Store