################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.pio/
pio
.vscode/
.pioenvs
.cache
build_output
firmware.map
firmware.asm
*.map
*.elf
*.log
compile_commands.json
.DS_Store

binaries/prepare_release.bat
